*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#content{
    margin: 25px auto;
    width: 80%;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
.title{
    margin-bottom:  40px;
    margin-right: 20px;
}
.desr{
    column-count: 3;
    text-align: justify;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
}